@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{ 
    var usuarios = ViewBag.Usuarios;
    

    foreach (var usuario in usuarios)
    {
        <div>
            <div>@usuario.Nome</div>
            <div><img src="~/imagens/@usuario.NomeFotoDePerfil" /></div>
        </div>
    }
}



